<launch>
	<param name="car_id" value="1"/>
	<param name="udp_port" value="8888" />
	<param name="udp_rate" value="1"/>
	<param name="udp_lens" value="8"/>	
	
	<node pkg="udp_broadcast" type="udp_server" name="udp_server" output="screen" />
	<node pkg="udp_broadcast" type="udp_client" name="udp_client" output="screen" />
</launch>